body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

.input-container {
  margin: 20px auto;
  width: 300px;
  text-align: left;
}

label, input {
  display: block;
  margin: 10px 0;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}

.cibs {
  left: 0px;
  
}